<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}{{ app_web_name }}{% endblock %}</title>
		

{% block stylesheets %}
    <link href="{{ asset('bs/css/bootstrap.min.css') }}" type="text/css"	rel="stylesheet">
    <link href="{{ asset('css/qtip.css') }}" type="text/css"	rel="stylesheet" />
    <link href="{{ asset('css/styles.css') }}" type="text/css"	rel="stylesheet" />
{% endblock %}


<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
{% block js %}
    <script>
    	var twig = twig || {};
    	var u = u || {};
    	/* 
    	twig.some_var				= "{{ app_web_name }}";
    	*/
    </script>
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bs/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/qtip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/validator.js') }}"></script>
    {# <script src="{{ asset('js/modernizr.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/sys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/q.js') }}"></script>
{% endblock %}
</head>

<body>
	
	{% if app.user %}
        {% set user_id = app.user.id %}
    {% else %}
        {% set user_id = 0 %}
    {% endif %}

	{% block head1 %}
		{# for head-1 #}
	{% endblock %}
	
	
	{% block head2 %}
		{# for head-2 #}
	{% endblock %}
	
	
	{% block body %}
		{# all other content stuff #}
	{% endblock %}

	{% block footer %} 
		<footer class="footer" >
			<div class="container" style="text-align: center;">
				<a href="{{ path('home') }}">Home</a> 
				<a href="{{ path('admin') }}">Admin</a>
				<a href="{{ path('logout') }}">Logout</a> 
				<a href="javascript:alert('Help yourself!')">About</a>
				<p>&copy;  {{ 'now'|date('Y') }} {{ app_web_name }}</p>
			</div>
		</footer>
	 {% endblock %}
	
	
	{% block javascripts %}
	{% endblock %}
</body>
</html>
