{% extends 'admin/init.html.twig' %}

{% block body %}
<div id="wrapper" class="container">
	<div id="panel" class="panel panel-default">
		<div class="panel-heading">
        	<h1>
				<span>Welcome to Admin</span> 
			</h1>
        </div>

		<div class="panel-heading" style="text-align:center;">
        	<h3 class="panel-title">Was soll da sein?????</h3>
        </div>
		<div class="panel-body" style="display:none;">
			<div style="color:red;padding-bottom:2px;">
    			<a class="btn btn-primary btn-xs" href="{{ path('admin_userrole') }}" style="">User-Rolle</a>
    		</div>
			<div style="color:red;padding-bottom:2px;">
    			<a class="btn btn-primary btn-xs" href="{{ path('admin_user') }}" style="">Users</a>
    		</div>
			<div style="color:red;padding-bottom:2px;">
    			<a class="btn btn-primary btn-xs" href="{{ path('admin_question_cat') }}" style="">Question-Categories</a>
    		</div>
    		<div style="color:red;padding-bottom:2px;">
    			<a class="btn btn-primary btn-xs" href="{{ path('admin_question_tag') }}" style="">Question-Tags</a>
    		</div>
    		<div style="color:red;padding-bottom:2px;">
    			<a class="btn btn-primary btn-xs" href="{{ path('admin_question') }}" style="">Questions</a>
    		</div>
    		<div style="color:red;padding-bottom:2px;">
    			<a class="btn btn-primary btn-xs" href="{{ path('admin_quiz') }}" style="">Quizs</a>
    		</div>
		</div>

	</div>
</div>
{% endblock %}

