{# src/Resources/views/admin/q.tag.html.twig #} 
{% extends 'admin/init.html.twig' %} 


{% block body %}
	<div id="" class="container">

		<div id="panel" class="panel panel-default">
			<div class="panel-heading">
            	<div class="row">
        			<div class="col-sm-3">
        				<div class="form-group">
                        	<a class="btn btn-danger btn" href="{{ path('admin_question_ne',{eid:'+'}) }}" style="">+ Frage</a>
                        </div>
                	</div>
                	<div class="col-sm-4">
                		<div class="form-group">
                			<div class="icon-addon addon-md">
                          		<input type="text" class="form-control form-search" placeholder="Suche nach..." id="filter">
                          		<label for="filter" class="btn-search glyphicon glyphicon-search" rel="tooltip" title="Filter"></label>
                          	</div>
                   		</div>
                	</div>
                	<div class="col-sm-3">
                		<select class="selectpicker search-quiz" id="filter-quiz" data-mobile="true">
                			<option data-cats="">-Alle Quiz-</option>
                			{% for quiz in quizs %}
                          		<option data-cats="{{ quiz.cats|join(',') }}">{{ quiz.title }}</option>
                          	{% endfor %}
                        </select>
                	</div>
                	<div class="col-sm-2 text-right">
                		<span id="question_count_active" class=" hidden-xs" style="font-weight:bold;">
                		    {{ ql_active }} aktive
						</span>
						<br/>
						<span id="question_count_all" class=" hidden-xs" style="">
                		    {{ questions|length }} ingesamt
						</span>
                	</div>
                </div>
            </div>
			<div class="panel-body">
				<div class="panel-scroll">
				<table class="table table-bordered" fixed-header>
					<thead>
                        <tr>
                          <th style="width:50px">#</th>
                          <th style="width:250px">Titel</th>
                          <th style="width:250px">Kategorie</th>
                          <th style="width:50px">Status</th>
                          <th style="width:50px"></th>  
                        </tr>
                    </thead>
                    {% for e in questions %}
                    	<tr>
                    		<td style="width:50px">
                    			<a class="" href="{{ path('admin_question_ne',{'eid':e.id}) }}" style="">{{ e.id }}</a>
                    		</td>
                    		<td style="width:250px">
                    			<a class="filter" href="{{ path('admin_question_ne',{'eid':e.id}) }}" style="">{{ e.title }}</a>
                    		</td>
                    		<td style="width:250px">
                    			<span class="filter">{{ e.cats|join(', ') }}</span>
                    		</td>
                    		<td style="width:50px">
                    			<span>{{ e.status|replace({'1': 'aktiv', '0': 'inaktiv'}) }}</span>
                    		</td>
                    		<td style="width:50px">
                        		<a class="btn btn-default btn-xs btn-del" data-href="{{ path('admin_question_d',{'eid':e.id}) }}" style="">Entfernen</a>
                        	</td>
                		</tr>
                	{% endfor %}
				</table>
            	</div>
			</div>
		</div>
		
	</div>
{% endblock %} 