{# src/Resources/views/admin/q.tag.html.twig #} 
{% extends 'admin/init.html.twig' %} 


{% block body %}
	<div id="" class="container">

		<div id="panel" class="panel panel-default">
			<div class="panel-heading">
            	<h3 class="panel-title">Da ist die ganze Liste von allen Frage, KLicken zum Bearbeiten</h3>
            </div>
			<div class="panel-body">
				<div class="panel-scroll">
				<table class="table table-bordered" fixed-header>
					<thead>
                        <tr>
                          <th style="width:50px">#</th>
                          <th style="width:250px">Titel</th> 
                        </tr>
                    </thead>
                    {% for e in questions %}
                    	<tr>
                    		<td style="width:50px">
                    			<a class="" href="{{ path('admin_qe',{'eid':e.id}) }}" style="">{{ e.id }}</a>
                    		</td>
                    		<td style="width:250px">
                    			<a class="" href="{{ path('admin_qe',{'eid':e.id}) }}" style="">{{ e.title }}</a>
                    		</td>
                		</tr>
                	{% endfor %}
				</table>
            	</div>
            	<br/> 
        	
                <form action="{{ path('admin_q') }}" method="post" id="f-admin-question" data-toggle="validator" role="form">
                	
            		<h3>Da kannst eine neue Frage erstellen und speichern</h3>
            		<br/>
            		
            		<div class="form-group">
        				<label for="{{ form.title.vars.id }}">Fragetext</label>
        				{{ form_widget(form.title, { 'attr': {'data-error': 'Die Frage darf nicht leer sein' } }) }}
        				<div class="help-block with-errors">{{ form_errors(form.title) }}</div>
        			</div>
                	
{#                 	custom radio field #}
{#         			<div class="form-group">#}
{#                         {{ form_label(form.status) }}#}
{#                         {% for child in form.status.children %}#}
{#                             <label class="radio-inline" for="{{ child.vars.id }}">#}
{# 								<input type="radio" {{ block('widget_attributes') }}#}
{# 								    {% if value is defined %} value="{{ value }}"{% endif %}{% if checked is defined %} checked="checked"{% endif %} />#}
{#                                 {{ child.vars.label }}#}
{#                             </label>#}
{#                         {% endfor %}#}
{#         				<div class="help-block with-errors">#}
{#         					{{ form_errors(form.status) }}#}
{#         				</div>#}
{#                     </div>#}
                    
                    <div class="form-group">
        				<label class="" for="{{ form.status.vars.id }}">Status</label>
        				{{ form_widget(form.status) }}
        				<div class="help-block with-errors">
        					{{ form_errors(form.status) }}
        				</div>
        			</div>
            		
            		<div class="form-group">
        				<label for="{{ form.truecount.vars.id }}">True</label>
        				{{ form_widget(form.truecount) }}
        				{{ form_errors(form.truecount) }}
        				<div class="help-block with-errors"></div>
        			</div>
            		
            		
            		<div class="form-group">
        				<label for="{{ form.published.vars.id }}">Publiziert</label>
        				{{ form_widget(form.published) }}
        				{{ form_errors(form.published) }}
        				<div class="help-block with-errors"></div>
        			</div>
            		
            		<div class="form-group">
        				<label for="{{ form.source.vars.id }}">Quelle</label>
        				{{ form_widget(form.source, { 'attr': {'data-error': 'Die Frage darf nicht leer sein' } }) }}
        				{{ form_errors(form.source) }}
        				<div class="help-block with-errors"></div>
        			</div>
            		
            		<div class="form-group">
        				<label for="{{ form.difficulty.vars.id }}">Schwierigkeitsgrad</label>
        				{{ form_widget(form.difficulty) }}
        				<div class="help-block with-errors">{{ form_errors(form.difficulty) }}</div>
        			</div>
            		
            		{{ form_row(form.cats) }}
            		
            		{{ form_row(form.tags) }}
            		
            		<div class="btn-toolbar" role="toolbar" aria-label="count-toolbar">
                		<div class="btn-group" role="group" aria-label="count-group">
                			<h3>Antworten</h3>
                          	<button class="btn btn-default btn-sm answers-count" autofocus="true" type="button" id="answer-count-4">4</button>
                          	<button class="btn btn-default btn-sm answers-count" type="button" id="answer-count-5">5</button>
                          	<button class="btn btn-default btn-sm answers-count" type="button" id="answer-count-6">6</button>
                          	<button class="btn btn-default btn-sm answers-count" type="button" id="answer-count-7">7</button>
                          	<button class="btn btn-default btn-sm answers-count" type="button" id="answer-count-8">8</button>
                        </div>
                    </div>
                    <div class="list-group form-group answers-group">
                        {# iterate over each existing tag and render its only field: name #}
                        {% for answer in form.answers %}
                        	{% if loop.index>4 %}{% set style="display:none;"%}{% else %}{% set style="display:;" %}{% endif %}
                        	<div class="list-group-item" style="{{ style }}">
                            	<label for="{{ answer.title.vars.id }}">Antwort-{{ loop.index }}</label>
                				{{ form_widget(answer.title) }}
                				<div class="help-block with-errors">{{ form_errors(answer.title) }}</div>
                                {# - #}
								<label style="display:none" for="{{ answer.status.vars.id }}">Antwort-{{ loop.index }}</label>
                				{{ form_widget(answer.status) }}
                				<div class="help-block with-errors">{{ form_errors(answer.status) }}</div>
                            </div>
                        {% endfor %}
                    </div>
            		
                	
                	<div style="display: none">
                	    {{ form_rest(form) }}
                	</div>
            		<div class="f-admin">
            			<button class="btn btn-primary btn-lg" type="submit">Speichern</button>
            		</div>
                
            		<script type="text/javascript">
            		//
            		$( "#" ).each(function(i) {
            			
            		});
            		</script>
            	</form>
			</div>
		</div>
		
	</div>
{% endblock %} 