{# src/Resources/views/admin/q.tag.html.twig #} 
{% extends 'admin/init.html.twig' %} 


{% block body %}
	<div id="" class="container">

		<div id="panel" class="panel panel-default">
			<div class="panel-heading">
            	<h3 class="panel-title">Da ist die ganze Liste von allen Frage, welche noch nicht zu Quiz zugewiesen</h3>
            	<div class="btn-toolbar" role="toolbar" aria-label="qq-toolbar">
                	<div class="btn-group" role="group" aria-label="qq-group-1">
                  		<button class="btn btn-default btn-sm active" type="button" id="btn-qq-all">Alle Frage</button>
                  		<button class="btn btn-default btn-sm" type="button" id="btn-qq-new">Neue Frage</button>
                  	</div>
                  	<div class="btn-group" role="group" aria-label="qq-group-2">
                  		<button class="btn btn-default btn-sm" type="button" id="btn-qq-filter-assigned">Ungeordnet</button>
                  		<button class="btn btn-default btn-sm" type="button" id="btn-qq-filter-unassigned">Zugeordnet</button>
                  	</div>
                  	<div class="btn-group" role="group" aria-label="qq-group-3">
                  		<button class="btn btn-default btn-sm" type="button" id="btn-qq-assign">Alle zuordnen</button>
                  		<button class="btn btn-default btn-sm" type="button" id="btn-qq-unassign">Alle aus</button>
                  	</div>
                </div>
            </div>
            <div class="panel-heading">
            	<div class="row row-eq-height">
                	<div class="col-xs-7">
                		<h4 class="panel-title"><span>Quizname: </span><strong>{{ quiz.title }}</strong> </h4>
                	</div>
                	<div class="col-xs-5">
                		{% set cats = [] %}
                        {% for c in quiz.cats %}
                            {% set cats = cats|merge([c.title]) %}
                        {% endfor %}
                		<h5>Kategorie: <strong>{{ cats|join(', ') }}</strong> </h5>
                	</div>
            	</div>
            </div>
			<div class="panel-body">
				<div class="panel-scroll" id="panel-qq-all" data-id1="{{ quiz.id }}" data-path="{{ path('admin_quizquestion_aj') }}">
    				<table class="table table-bordered" fixed-header>
    					<thead>
                            <tr>
                            	<th style="width:10px">#</th>
                                <th style="width:250px">Titel</th>
                                <th style="width:50px">Antwort-1</th>
                                <th style="width:50px">Antwort-2</th>
                                <th style="width:50px">Antwort-3</th>
                                <th style="width:50px">Antwort-4</th>
                                <th style="width:50px">Antwort-5</th>
                                <th style="width:50px">Antwort-6</th>
                                <th style="width:50px">Antwort-7</th>
                                <th style="width:50px">Antwort-8</th>
                                <th style="width:50px">Cats</th>
                            </tr>
                        </thead>
                        {% for e in questions %}
                        	<tr>
                        		<td style="width:20px">
                        			{% if e.quizin %}
    								    {% set qqclass = ' btn btn-default btn-xs ' %}
    								    {% set qqtitle = 'Aus' %}
    								{% else %}
    								    {% set qqclass = ' btn btn-primary btn-xs ' %}
    								    {% set qqtitle = 'Zuordnen' %}
    								{% endif %}
    								<span 
    									id="btn-qq-{{ e.id }}" 
    									class="btn-qq {{ qqclass }}"
            							data-path="{{ path('admin_quizquestion_aj') }}"
            							data-id2="{{ e.id }}"
            							data-id1="{{ quiz.id }}"
            							>
            							{{ qqtitle }}</span>
        						</td>
                        		<td style="width:250px">
                        			<a class="" href="{{ path('admin_questione',{'eid':e.id}) }}" style="">{{ e.title }}</a>
                        		</td>
                        		{% for a in e.answers %}
                            		<td style="width:50px">
                            			{{ a.title }}	
                            		</td>
                        		{% endfor %}
                        		{% if e.answers|length < 5 %}
                        			<td style="width:50px">-</td>
                        			<td style="width:50px">-</td>
                        			<td style="width:50px">-</td>
                        			<td style="width:50px">-</td>
                        		{% elseif e.answers|length < 6 %}
                        			<td style="width:50px">-</td>
                        			<td style="width:50px">-</td>
                        			<td style="width:50px">-</td>
                        		{% elseif e.answers|length < 7 %}
                        			<td style="width:50px">-</td>
                        			<td style="width:50px">-</td>
                        		{% elseif e.answers|length < 8 %}
                        			<td style="width:50px">-</td>
                        	    {% endif %}
                        	    <td style="width:50px">
                        	    	{% set cats = [] %}
                                    {% for c in e.cats %}{% set cats = cats|merge([c.title]) %}{% endfor %}
                        	        {% for c in e.cats %}
                                        {{ cats|join('; ') }}
                        		    {% endfor %}
                        		</td>
                    		</tr>
                    	{% endfor %}
    				</table>
            	</div>
            	
{#             	Form for new Question        #}
            	<div class="" id="panel-qq-new" style="display:none;">
            		<form action="{{ path('admin_quizquestion_all',{'eid':quiz.id}) }}" method="post" id="f-admin-question" data-toggle="validator" role="form">
                	
                		<h3>Da kannst eine neue Frage erstellen und speichern</h3>
                		<br/>
                		
                		<div class="form-group">
            				<label for="{{ form.title.vars.id }}">Fragetext</label>
            				{{ form_widget(form.title, { 'attr': {'data-error': 'Die Frage darf nicht leer sein' } }) }}
            				<div class="help-block with-errors">{{ form_errors(form.title) }}</div>
            			</div>
                    	
                        <div class="form-group">
            				<label class="" for="{{ form.status.vars.id }}">Status</label>
            				{{ form_widget(form.status) }}
            				<div class="help-block with-errors">
            					{{ form_errors(form.status) }}
            				</div>
            			</div>
                		
                		<div class="form-group">
            				<label for="{{ form.truecount.vars.id }}">True</label>
            				{{ form_widget(form.truecount) }}
            				{{ form_errors(form.truecount) }}
            				<div class="help-block with-errors"></div>
            			</div>
                		
                		
                		<div class="form-group">
            				<label for="{{ form.published.vars.id }}">Publiziert</label>
            				{{ form_widget(form.published) }}
            				{{ form_errors(form.published) }}
            				<div class="help-block with-errors"></div>
            			</div>
                		
                		<div class="form-group">
            				<label for="{{ form.source.vars.id }}">Quelle</label>
            				{{ form_widget(form.source, { 'attr': {'data-error': 'Die Frage darf nicht leer sein' } }) }}
            				{{ form_errors(form.source) }}
            				<div class="help-block with-errors"></div>
            			</div>
                		
                		<div class="form-group">
            				<label for="{{ form.difficulty.vars.id }}">Schwierigkeitsgrad</label>
            				{{ form_widget(form.difficulty) }}
            				<div class="help-block with-errors">{{ form_errors(form.difficulty) }}</div>
            			</div>
                		
                		{{ form_row(form.cats) }}
                		
                		{{ form_row(form.tags) }}
                		
                		<div class="btn-toolbar" role="toolbar" aria-label="count-toolbar">
                    		<div class="btn-group" role="group" aria-label="count-group">
                    			<h3>Antworten</h3>
                              	<button class="btn btn-default btn-sm answers-count active" autofocus="true" type="button" id="answer-count-4">4</button>
                              	<button class="btn btn-default btn-sm answers-count" type="button" id="answer-count-5">5</button>
                              	<button class="btn btn-default btn-sm answers-count" type="button" id="answer-count-6">6</button>
                              	<button class="btn btn-default btn-sm answers-count" type="button" id="answer-count-7">7</button>
                              	<button class="btn btn-default btn-sm answers-count" type="button" id="answer-count-8">8</button>
                            </div>
                        </div>
                        <div class="list-group form-group answers-group">
                            {# iterate over each existing tag and render its only field: name #}
                            {% for answer in form.answers %}
                            	{% if loop.index>4 %}{% set style="display:none;"%}{% else %}{% set style="display:;" %}{% endif %}
                            	<div class="list-group-item" style="{{ style }}">
                                	<label for="{{ answer.title.vars.id }}">Antwort-{{ loop.index }}</label>
                    				{{ form_widget(answer.title, { 'attr': {'data-index': loop.index } }) }}
                    				<div class="help-block with-errors">{{ form_errors(answer.title) }}</div>
                                    {# - #}
    								<label style="display:none" for="{{ answer.status.vars.id }}">Antwort-{{ loop.index }}</label>
                    				{{ form_widget(answer.status) }}
                    				<div class="help-block with-errors">{{ form_errors(answer.status) }}</div>
                                </div>
                            {% endfor %}
                        </div>
                		
                    	
                    	<div style="display: none">
                    	    {{ form_rest(form) }}
                    	</div>
                		<div class="f-admin">
                			<button class="btn btn-primary btn-lg" type="submit">Speichern</button>
                		</div>
                    
                		<script type="text/javascript">
                		//
                		$( "#" ).each(function(i) {
                			
                		});
                		</script>
                	</form>
            	</div>
            	
            	<br/>
    		 	
			</div>
		</div>
		<script type="text/javascript">
    		//select checkboxes with image-names of all users which are not in the list from database 
    		
		</script>
		
	</div>
{% endblock %} 