{# src/Resources/views/admin/q.tag.html.twig #} 
{% extends 'admin/init.html.twig' %} 


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/cropper.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/cropper.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="" class="container">

		<div id="panel" class="panel panel-default">
			<div class="panel-heading">
            	<div class="row">
        			<div class="col-sm-3">
        				<div class="form-group">
                        		<a class="btn btn-danger btn" href="{{ path('admin_user_ne',{eid:'+'}) }}" style="">+ Benutzer</a>
                         </div>
                	</div>
                	<div class="col-sm-4">
                		<div class="form-group">
                			<div class="icon-addon addon-md">
                              	<input type="text" class="form-control form-search" placeholder="Suche nach..." id="filter">
                              	<label for="filter" class="btn-search glyphicon glyphicon-search" rel="tooltip" title="Filter"></label>
                      		</div>
                    	</div>
                	</div>
                	<div class="col-sm-5">
                		<h3 class="panel-title text-right hidden-md hidden-sm hidden-xs">Da ist die ganze Liste von allen Benutzer, KLicken zum Bearbeiten</h3>
                	</div>
                </div>
            </div>
			<div class="panel-body">
				<div class="panel-scroll">
    				<table class="table table-bordered" fixed-header>
    					<thead>
                            <tr>
                              	<th style="width:10px">ID</th>
                              	<th style="width:50px" class="hidden-sm hidden-xs">UNID</th>
                              	<th style="width:250px">Name</th>
                              	<th style="width:250px">Email</th>
                              	<th style="width:150px">Rolle</th>
                              	<th style="width:50px"></th>
                            </tr>
                        </thead>
                        {% for e in users %}
                        	<tr>
                        		<td style="width:10px">
                        			<span>{{ e.id }}</span>
                        		</td>
                        		<td style="width:50px" class="hidden-sm hidden-xs">
                        			<span>{{ e.unid }}</span>
                        		</td>
                        		<td style="width:250px">
                        			<a class="filter" href="{{ path('admin_user_ne',{'eid':e.id}) }}" style="">{{ e.username }}</a>
                        		</td>
                        		<td style="width:250px">
                        			<span class="filter">{{ e.email }}</span>
                        		</td>
                        		<td style="width:150px">
                        			<span class="filter">{{ e.roles|join(', ') }}</span>
                        		</td>
                        		<td style="width:50px">
                        			{% if e.status!=1 %}
                        				<a class="btn  btn-default btn-xs " href="{{ path('admin_user_on',{'eid':e.id}) }}" style="">Aktivieren</a>
                        			{% else %}
                        				<a class="btn btn-success btn-xs " href="{{ path('admin_user_off',{'eid':e.id}) }}" style="">Deaktivieren</a>
                        			{% endif %}
                            	</td>
                    		</tr>
                    	{% endfor %}
    				</table>
            	</div>
            	<br/>
            	<br/>
        	</div>
		</div>
		
	</div>
{% endblock %} 