{# src/Resources/views/admin/q.tag.html.twig #} 
{% extends 'admin/init.html.twig' %} 


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/cropper.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/cropper.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="" class="container">

		<div id="panel" class="panel panel-default">
			<div class="panel-heading">
            	<h3 class="panel-title">Da ist die ganze Liste von allen Benutzer, KLicken zum Bearbeiten</h3>
            </div>
			<div class="panel-body">
				<div class="panel-scroll">
				<table class="table table-bordered" fixed-header>
					<thead>
                        <tr>
                          <th style="width:50px">#</th>
                          <th style="width:250px">Name</th>
                          <th style="width:250px">Email</th>
                        </tr>
                    </thead>
                    {% for e in users %}
                    	<tr>
                    		<td style="width:50px">
                    			<a class="" href="{{ path('admin_usere',{'eid':e.id}) }}" style="">{{ e.unid }}</a>
                    		</td>
                    		<td style="width:250px">
                    			<a class="" href="{{ path('admin_usere',{'eid':e.id}) }}" style="">{{ e.username }}</a>
                    		</td>
                    		<td style="width:250px">
                    			<a class="" href="{{ path('admin_usere',{'eid':e.id}) }}" style="">{{ e.email }}</a>
                    		</td>
                		</tr>
                	{% endfor %}
				</table>
            	</div>
            	<br/>
            	<br/>
               <form action="{{ path('admin_user') }}" method="post" class="" id="f-admin-user" data-toggle="validator" role="form">
                	
            		<h3>Da kannst eine neuen Benutzer erstellen und speichern</h3>
            		<br/>
            		
            		<div class="form-group">
        				<label for="{{ form.username.vars.id }}">Benutzername</label>
        				{{ form_widget(form.username, { 'attr': {'data-remote': path('admin_user_is'),'data-remote-error':"Solche Login ist schon vorhanden" } }) }}
        				{{ form_errors(form.username) }}
        				<div class="help-block with-errors"></div>
        			</div>
        			
        			<div class="form-group">
        				<label for="{{ form.password.vars.id }}">Passwort</label>
        				{{ form_widget(form.password) }}
        				{{ form_errors(form.password) }}
        				<div class="help-block with-errors"></div>
        			</div>
            		
            		<div class="form-group">
        				<label for="{{ form.email.vars.id }}">Email</label>
        				{{ form_widget(form.email, { 'attr': {'data-remote': path('admin_user_is'),'data-remote-error':"Solche Login ist schon vorhanden" } }) }}
        				{{ form_errors(form.email) }}
        				<div class="help-block with-errors"></div>
        			</div>
        			
        			<div class="form-group">
        				<label class="" for="{{ form.status.vars.id }}">Benutzerstatus</label>
        				{{ form_widget(form.status) }}
        				{{ form_errors(form.status) }}
        			</div>
            		
            		<div class="form-group">
        				<label for="{{ form.fname.vars.id }}">Vorname</label>
        				{{ form_widget(form.fname) }}
        				{{ form_errors(form.fname) }}
        			</div>
        			
        			<div class="form-group">
        				<label for="{{ form.lname.vars.id }}">Nachname</label>
        				{{ form_widget(form.lname) }}
        				{{ form_errors(form.lname) }}
        			</div>
        			
        			<div class="form-group">
        				<label for="{{ form.tel1.vars.id }}">Telefon</label>
        				{{ form_widget(form.tel1) }}
        				{{ form_errors(form.tel1) }}
        			</div>
            		
            		<div class="form-group">
        				<label for="{{ form.sex.vars.id }}">Sex</label>
        				{{ form_widget(form.sex) }}
        				{{ form_errors(form.sex) }}
        			</div>
        			
        			<div class="form-group">
        				<label for="{{ form.dborn.vars.id }}">Geboren am</label>
        				{{ form_widget(form.dborn) }}
        				{{ form_errors(form.dborn) }}
        			</div>
        			
        			<div class="form-group">
        				<label for="{{ form.about.vars.id }}">Über mich</label>
        				{{ form_widget(form.about) }}
        				{{ form_errors(form.about) }}
        			</div>
            		
            		{# AVATAR BLOCK #}
    				<div class="form-group" id="f-avatar">
    					<label for="{{ form.avatar.vars.id }}">Avatar</label> 
    					<span
    						class="form-notes"> 
    						Minimal größe ist 100x100 px, Maximal 200x200 px
    					</span>
    					<div id="images-avatar" class="imagelist" data-path="{{ path('admin_usere_avatar') }}">
    						{% if user.avatar!='' %}
        						<div d-idx="1" class="imagelist-item" id="avatar">
        
        							<div class="item-pre item-avatar">
                						<img
                							id="crop-avatar"
                							width=""
                							height="100px"
                							alt="avatar"
                							src="{{ asset(['images/'~user.username~'/', user.avatar]|join) }}?timestamp={{ 'now'|date("s.u")|round(3) }}"
                							class=""
                						>
                					</div>
        
        							<div class="imagelist-ctrl">
        								<div class="btn btn-default btn-xs">
                                			<span
                                				class="glyphicon glyphicon-upload"
                                				id="change-avatar-1"
                                			></span><span class="">Ändern</span>
                                		</div>
                                		<div class="btn btn-default btn-xs">
                                			<span
                                				class="glyphicon glyphicon-remove-circle"
                                				id="rem-avatar-1"
                                			></span><span class="">Entfernen</span>
                                		</div>
        							</div>
        						</div>
    						{% endif %}
    					</div>
    					<div>
    						<div class="uploader" style="">
            					<div
            						class="uploader-sub"
            						id="ctrl-up-avatar"
            						style="{% if user.avatar!='' %}display:none;{% endif %}"
            					>
            						<span
            							class="btn btn-default btn-xs"
            							id="but-up-avatar"
            						>Auswahl</span>
            						<div
            							id=""
            							class="filer"
            						>
            							{# <input type="file" accept="image/jpeg" id="generate_html5"> #}
            							{{ form_widget(form.avatar_f) }}
            							{{ form_errors(form.avatar_f) }}
            						</div>
            					</div>
            					<div class="progress progress-avatar" style="display:none">
	                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                </div>
    						</div>
        				</div>
    				</div>
    				
{#     				-            #}
    				<div class="form-group">
        				<label for="{{ form.userroles.vars.id }}">Rollen</label>
        				{{ form_widget(form.userroles) }}
        				{{ form_errors(form.userroles) }}
        			</div>
            		
                	
                	<div style="display: none">
                	    {{ form_rest(form) }}
                	    <div id="aj-user-is" data-path="{{ path('admin_user_is') }}"></div>
                	 </div>
            		
            		<div class="form-group">
            			<button class="btn btn-primary btn-sm" type="submit">Speichern</button>
            		</div>
                
            		<script type="text/javascript">
            		//
            		$( "#" ).each(function(index) {
            			
            		});
            		</script>
            	</form>
			</div>
		</div>
		
	</div>
{% endblock %} 