{# app//Resources/views/exception/error.html.twig #} 
{% extends 'layout.html.twig' %} 

{% block stylesheets %}
    {{ parent() }}
{#     <link href="{{ asset('css/default.css') }}" type="text/css" rel="stylesheet" />#}
{% endblock %}

{% block js %}
    {{ parent() }}
{#     <script src="{{ asset('js/default.js') }}"></script>#}
{% endblock %}




{# head1 in layout#}
{% block head1 %}
	<header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      	<div class="row row-eq-height">
			<div class="col-xs-2">
        	</div>
        	<div class="col-xs-8">
        		<a href="{{ path('home') }}">
        			<img border="0" alt="Quiz-Com" src="{{ asset('images/quizcom-logo3.png') }}" width="auto" height="auto">
        		</a>
        	</div>
        	<div class="col-xs-2">
        		<div style="padding-top:10px;">
        		{% if app.user %}
                	<span>Angemeldet als {{ app.user.username }}</span>
                {% else %}
                	<div class="btn-group pull-right" role="group" aria-label="group-login">
                        <a class=" btn btn-success btn-sm " href="{{ path('security_reg') }}" id="btn-login">Registrieren</a>
                        <a class=" btn btn-success btn-sm " href="{{ path('login') }}" id="btn-login">Login</a>
                    </div>
                {% endif %}
                </div>
        	</div>
    	</div>
      </div>
    </header>
{% endblock %}


{# head2 in layout#}

{% block body %}
<div id="wrapper" class="container">
	<div id="panel" class="panel panel-default">
		<div class="panel-heading">
        	<h1>
				<span>Welcome to Admin</span> 
			</h1>
        </div>

		<div class="panel-body">
            <h1>Oops! Fehler</h1>
            <h2>Server liefert "{{ status_code }} {{ status_text }}".</h2>
    
            <div>
                Wenden Sie sich bitte an Administrator.
                Das Problem wird in der kurzen Zeit behoben.
            </div>
        </div>

	</div>
</div>
{% endblock %} 
